extends layout

mixin parseObject(obj)
    each val, key in obj
        if (Array.isArray(val))
            tr
                th= key + ':'
                td= val
        else if (typeof val != 'object')
            tr
                th= key + ':'
                td= val
        else if(val == null)
            tr
                th= key + ':'
                td= "null"
        else if (typeof val == 'object')
            tr
                if(typeof key != 'number')
                    th= key + ':'
                    td
                        table.table.table-bordered
                            tr
                            +parseObject(val)


block content
    .page-header
        h1 #{title} - #{sourceFile}
    p.lead
        pre
            table.table.table-bordered
                tbody
                    +parseObject(payload)